.projects-list {
	margin: 0 auto;
	width: 75%;

	table {
		thead {
			th {
				font-size: 1.3em;
				background-color: orange;
			}
		}
		tr {
			height: 100px;
		}
		td{
			width: 20%;
			padding: 5px;
			&:last-child {
				width: 40%;
			}
			background-color: pink;
			i {
				margin-left: 10px;
			}
			&:first-child {
				background-color: orange;
			}
		}
	}
}