<div class="projects-list">

	<table>
		<thead>
			<tr>
				<th *ngFor="let heading of headings">
					{{ heading.label }}
				</th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let listing of listings">
				<td>
					{{ listing.name }}
				</td>
				<td>
					<a href="{{ listing.source }}" target="_blank">github<i class="fa fa-external-link" aria-hidden="true"></i></a>
				</td>
				<td>
					<a href="{{ listing.hosted }}" target="_blank">app<i class="fa fa-external-link" aria-hidden="true"></i></a>
				</td>
				<td>
					{{ listing.description }}
				</td>

			</tr>

		</tbody>
	</table>

</div>
